.collaction-container {
    background-color: #FFFFFF;
}

.view-btn {
    background-color: #1c8ead!important;
    border: none;
}

.view-btn:hover {
    background-color: #1c8ead!important;
    border: none;
}